.fruitbox{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    border-color: black;
    margin-top: 10px;
}

button {
    margin: 10px;
}


.resetButton {
    font-size: 24px;
    width: 500px;
    border-radius: 10px;
    border-color: grey;
}

.deliveryInfo{
    border-color: transparent;
    font-size: 24px;

}



.deliveryInfo-container {
    display: flex;
    flex-direction: column;
    border-color: transparent;
    font-size: 24px;
}

.deliveryFreq {
    display: flex;
    flex-direction: column;
}

#orderFreq{
    width: 140px;
    font-size: 16px;
    margin-top: 10px;
}

textarea{
    width: 300px;
}